@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

.left {
    box-sizing: border-box;

    float: left;
    padding: 50px;
    width: 50%;
    height:650px;
    background-color: #ffffff;
    border: 1px solid black;
    border-right: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* background-color: #ffcccc; */
}

.right {
    box-sizing: border-box;

    float: right;
    padding: 50px;
    width: 50%;
    height:650px;
    background-color: #ffffff;
    border: 1px solid black;
    border-left: 1px dotted;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

body {
    margin: 150px;
    margin-left:400px;
    margin-right:400px;
    padding: 0;
    font-family: 'NanumBarunGothic';

    background-color: #282828c7;
}

#SelectEmotionText{
    /* background-color: azure; */
    font-size: 20px;
    color: #6e6e6e;
}

/* Emotion button */
#EmotionBtn{
    /* background-color: beige; */
    margin-top:60px;
}

.joy, .sadness, .anger, .timid{
    width: 70px;
    height: 70px;

    margin-left : 10px;
    margin-top:10px;

    background: #ebebeb;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    border : 0px;
    border-radius: 50px;
}

/* 오른쪽 내용 */
#Date_div{
    /* background-color: rgb(211, 198, 251); */
    position: relative;

    width:auto;
    height:56px;
}

#date{
    float: left;
}

#save{
    float: right;
    background-color: rgb(181, 181, 246);
}

/* form 태그 내용 */
#Title_div{
    /* background-color: antiquewhite; */
    width:auto;
    height:58px;
}

#Content_div{
    /* background-color: #c6deff; */
    width:auto;
    height:400px;
}

#Tag_div{
    /* background-color: #E1BAFF; */
    width:auto;
    height:58px;
}

input[type="date"] {
    
    /* 바닥으로 부터 떨어진 정도 조절 */
    position: absolute;
    bottom: 30%;

    font-size: 15px;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

/* diary save button */
#save {
    
    position: absolute;
    bottom: 30%;
    left:82%;

    font-size: 15px;
    background-color: rgb(233, 233, 233);
    color: #555555;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#save:hover {
    color: white;
    background-color: rgb(104, 104, 104);
}

input[type="text"]{
    width: 95%;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);

    background: #ebebeb;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}

textarea{
    outline: none;
    border: none;
    font-size: 15px;

    width:95%;
    height:95%;
}

