@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

.left {
    box-sizing: border-box;

    float: left;
    padding: 50px;
    width: 50%;
    height:650px;
    background-color: #ffffff;
    border-right: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* background-color: #ffcccc; */
}

.right {
    box-sizing: border-box;

    float: right;
    padding: 50px;
    padding-top:0px;
    width: 50%;
    height:650px;
    background-color: #ffffff;
    border-left: 1px dotted #e5d6c1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

body {
    margin-top:140px;
    margin-bottom: 150px;
    margin-left:400px;
    margin-right:400px;
    padding: 0;
    font-family: 'NanumBarunGothic';

    background-color: #e5d6c1c7;
}

#intro{
    margin-left:2%;
    margin-bottom: 0px;
    color: #918575;
    font-size: 18px;
}

#SelectEmotionText{
    /* background-color: azure; */
    font-size: 20px;
    color: #3a1f0a8e;
    margin-left:4%;
    margin-top:10%;
}

/* Emotion button */
#EmotionBtn{
    /* background-color: beige; */
    margin-top:8%;
}

.joy, .sadness, .anger, .timid{
    width: 70px;
    height: 70px;

    margin-left : 10px;
    margin-top:10px;

    background: #ebebeb;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    border : 0px;
    border-radius: 50px;
}

.joy{
    background: #fffadb;
    box-shadow: inset 0px 4px 4px rgba(142, 131, 32, 0.25);
}

.sadness{
    background: #e4eaff;
    box-shadow: inset 0px 4px 4px rgba(34, 39, 123, 0.25);
}

.anger{
    background: #ffe4e4;
    box-shadow: inset 0px 4px 4px rgba(202, 45, 45, 0.25);
}

.timid{
    background: #f6e9ff;
    box-shadow: inset 0px 4px 4px rgba(163, 45, 202, 0.25);
}

.joy:hover, .sadness:hover, .anger:hover, .timid:hover{
    cursor:pointer;
}
.joy:hover{
    background-color: rgb(255, 242, 120);
}

.sadness:hover{
    background-color: rgb(157, 180, 255);
}

.anger:hover{
    background-color: rgb(255, 128, 109);
}

.timid:hover{
    background-color: rgb(208, 137, 239);
}

/* 오른쪽 내용 */

#close_div{
    width:auto;
    height:50px;
}

#CloseBtn{
    margin-left:99%;
    margin-top:4.5%;

    background-color:transparent;
    border:none;
}

#CloseBtn:hover{
    cursor: pointer;
}

#Date_div{
    /* background-color: rgb(211, 198, 251); */
    position: relative;

    width:auto;
    height:56px;
}

#date{
    float: left;
    color: #3a1f0a;
}

/* diary save button */
#save {
    
    position: absolute;
    bottom: 30%;
    left:80%;

    font-size: 15px;
    background-color: #fbf5ee;
    color: #562e10;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#save:hover {
    color: white;
    background-color: rgb(104, 104, 104);
}

/* form 태그 내용 */
#Title_div{
    /* background-color: antiquewhite; */
    width:auto;
    height:58px;
}

#Content_div{
    /* background-color: #c6deff; */
    width:auto;
    height:400px;
}

#Tag_div{
    /* background-color: #E1BAFF; */
    width:auto;
    height:58px;
}

input[type="date"] {
    
    /* 바닥으로 부터 떨어진 정도 조절 */
    position: absolute;
    bottom: 30%;

    font-size: 15px;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}


input[type="text"]{
    width: 95%;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    background: #fbf5ee;
    box-shadow: inset 0px 2px 2px rgba(162, 99, 35, 0.25);
}

input[type="text"]::placeholder, textarea::placeholder{
    color: #3a1f0a;
}

textarea{
    outline: none;
    border: none;
    font-size: 15px;

    width:95%;
    height:95%;
}

