html {
    height: 100%;
  }

  @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
  }

  @keyframes moveup {
      0% {
          top: 100%;
      }
      100% {
          top: -100%;
      }
  }

  .nanumbarungothic * 
  {
      font-family: 'NanumBarunGothic', sans-serif;
  }

  body {
      font-family: 'NanumBarunGothic';
      font-weight: 600;
      height: 100vh;
      width: 100%;
      /*background: rgb(25, 132, 213);*/
      background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%);
      transition: background-color 1.2s ease;
  }

  body::-webkit-scrollbar
  {
      display:none;
  }

  .rain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .rain.back-row {
    display: none;
    z-index: -2;
    bottom: 60px;
    opacity: 0.5;
  }

  body.back-row-toggle .rain.back-row {
    display: block;
  }

  .drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear 5;
  }

  @keyframes drop {
    0% {
      transform: translateY(0vh);
    }
    75% {
      transform: translateY(90vh);
    }
    100% {
      transform: translateY(90vh);
    }
  }

  .stem {
    width: 15px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s 100;
  }

  @keyframes stem {
    0% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .splat {
    width: 30px;
    height: 10px;
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: splat 0.5s 100;
    display: none;
  }

  body.splat-toggle .splat {
    display: block;
  }

  @keyframes splat {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    80% {
      opacity: 1;
      transform: scale(0);
    }
    90% {
      opacity: 0.5;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }

  .emotion {
    -ms-overflow-style: none;
    display: block;
    font-size: 15vw;
    color: #f1ebe5;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    line-height: 12%;
    animation: moveup 30s linear infinite;
}

#emotionDiv
{
    position: relative;
    left: 30%;
    text-align: center;
    width: 40%;
    opacity: 1;
    transition: opacity 0.5s ease;
    
}
#emotionDiv:hover
{
  animation-play-state: paused;
}
.joy {
  --duration: 1200ms;
  --text-shadow-color: hsl(0 0% 100%);
  
  position: relative;
  display: inline-block;
  z-index: 1;
  text-shadow: 
    0.006em -0.006em 0 var(--text-shadow-color),
    0.012em -0.012em 0 var(--text-shadow-color),
    0.018em -0.018em 0 var(--text-shadow-color),
    0.024em -0.024em 0 var(--text-shadow-color),
    0.030em -0.030em 0 var(--text-shadow-color),
    0.006em  0       0 currentcolor,
    0.012em -0.006em 0 currentcolor,
    0.018em -0.012em 0 currentcolor,
    0.024em -0.018em 0 currentcolor,
    0.030em -0.024em 0 currentcolor,
    0.036em -0.030em 0 currentcolor,
    0.036em -0.036em 0 currentcolor;
  perspective: 3em;
  transform-origin: bottom center;
  transform-style: preserve-3d;
  animation: movement var(--duration) cubic-bezier(0.65, 0, 0.35, 1) infinite;
}

.joy::after {
  --transform: scaleY(-1) translateY(-30%) rotateX(-35deg) scaleY(1.2) translateY(calc(-30% + 2px));
  --transform-alt: scaleY(-1) translateY(-30%) rotateX(-55deg) scaleY(1.4) translateY(calc(-30% + 2px));
  
  content: '기쁨 JOY' / '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: initial;
  -webkit-mask-image:
    linear-gradient(
      to bottom,
      hsla(0 0% 0% / 0) 0%,
      hsla(0 0% 0% / 0.006) 13.7%,
      hsla(0 0% 0% / 0.022) 25.4%,
      hsla(0 0% 0% / 0.049) 35.3%,
      hsla(0 0% 0% / 0.086) 43.6%,
      hsla(0 0% 0% / 0.133) 50.6%,
      hsla(0 0% 0% / 0.188) 56.5%,
      hsla(0 0% 0% / 0.251) 61.6%,
      hsla(0 0% 0% / 0.323) 66%,
      hsla(0 0% 0% / 0.402) 70.1%,
      hsla(0 0% 0% / 0.487) 74.1%,
      hsla(0 0% 0% / 0.579) 78.1%,
      hsla(0 0% 0% / 0.677) 82.5%,
      hsla(0 0% 0% / 0.780) 87.4%,
      hsla(0 0% 0% / 0.888) 93.2%,
      hsla(0 0% 0% / 1) 100%
    );
  opacity: 0.8;
  transform: var(--transform);
  animation: shadow var(--duration) cubic-bezier(0.65, 0, 0.35, 1) infinite;
}

@keyframes movement {
  20% { transform: scaleY(1.4) skew(10deg)  }
  50% { transform: scaleY(1)   skew(0)      }
  70% { transform: scaleY(1.4) skew(-10deg) }
}

@keyframes shadow {
  20% { transform: var(--transform-alt) }
  50% { transform: var(--transform)     }
  70% { transform: var(--transform-alt) }
}

@keyframes rotate {
  to { transform: rotate(1turn) }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
  }
}
#emotion0:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
  
}
@keyframes glitchy {
    0%   {transform: translate(-5px, 5px);}
    25%  {transform: translate(-5px, -5px);}
    50%  {transform: translate(5px, 5px);}
    75%  {transform: translate(5px, -5px);}
    100%  {transform: translate(-5px, 5px);}
}
:root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
  }
#emotion1:hover
{
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}
@keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      transform: translate(-3px, -3px);
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
      transform: translate(-6px, -6px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    30% {
      transform: translate(-9px, -9px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% {
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
  }
.particletext {
    font-size:48px;
    position: relative;

 }
 
 .particletext.confetti > .particle {
  opacity:0;
  position: absolute;
  animation: confetti 3s ease-in infinite;
}
.particletext.confetti > .particle.c1
{
  background-color:rgba(76,175,80,0.5);
}
.particletext.confetti > .particle.c2
{
background-color:rgba(156,39,176,0.5);
}

 .particletext.hearts > .particle {
    opacity:0;
    position: absolute;
    background-color:rgba(204,42,93,1);
    animation: hearts 3s ease-in 5;
 }
 
 .particletext.hearts > .particle:before,
 .particletext.hearts > .particle:after {
    position: absolute;
    content: '';
    border-radius:100px;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(204,42,93,1);
 }
 
 .particletext.hearts > .particle:before {
    transform:translateX(-50%);
 }
 
 .particletext.hearts > .particle:after {
    transform:translateY(-50%);
 }
 
 .particletext.fire > .particle {
    position: absolute;
    background-color:rgba(255,193,7,0.5);
    border-radius:40px;
    border-top-right-radius:0px;
    animation: fires 0.8s linear 5;
    transform:rotate(-45deg);
    opacity:0;
 }
 
 .particletext.fire > .particle:before {
    position: absolute;
    content: '';
    top:60%;
    left:40%;
    transform:translate(-50%,-50%);
    width:50%;
    height:50%;
    border-radius:40px;
    border-top-right-radius:0px;
    background-color:rgba(251,140,0,0.5);
 }

  

 @keyframes hearts {
    0% {
       opacity: 0;
       transform:translate(0, 0%) rotate(45deg);
    }
    20% { 
       opacity: 0.8;
       transform:translate(0, -20%) rotate(45deg);
    }
    100% {
       opacity: 0;
       transform:translate(0, -1000%) rotate(45deg);
    }
 }
 
 @keyframes fires {
    0% {
       transform: rotate(-70deg) translateY(0%);
    }
    25% {
       transform: rotate(-20deg) translateY(-5%);
       opacity:1;
    }
    50%{
       transform: rotate(-70deg) translateY(-10%);
    }
    75% {
       transform: rotate(-20deg) translateY(-20%);
    }
    100% {
       transform: rotate(-70deg) translateY(-40%);
       opacity:1;
    }
    
 }

 @keyframes confetti {
  0% {
     opacity:0;
     transform:translateY(0%) rotate(0deg);
  }
  10% {
     opacity:1;
  }
  35% {
     transform:translateY(-800%) rotate(270deg);
  }
  80% {
     opacity:1;
  }
  100% {
     opacity:0;
     transform:translateY(2000%) rotate(1440deg);
  }
}
 #emotion2:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
}
#emotion3:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
}
#emotion4
{
    margin: auto;
    transition: all 1s;
  
}
#emotion4:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
  filter:blur(x);
  letter-spacing: 0.3em;
  transform:scale(1.4);
  opacity:0.05;

}
#emotion5:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
}


#emotion6:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
}
#emotion7:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
}
#emotion8:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
}
#emotion9:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
  
}

#emotion10:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
  
}
#emotion11:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
}

#emotion12
{
  transition:text-shadow 1s, color 1s;
}
#emotion13:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
  
}

@keyframes shake {
    0% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
    10% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    20% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    100% {
      transform: translate(1px, 1px) rotate(0deg);
    }
  }

#emotion14:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
}
#emotion15:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
}
#emotion16:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
}

.guilty
{
  transition:text-shadow 1s, color 3s;
  color: white;
  text-shadow:
  -1em -1em 0em rgba(70,38,121,0.25),
  -2em -2em 0em rgba(70,38,121,0.25),
  -3em -3em 0em rgba(70,38,121,0.25),
  -4em -4em 0em rgba(70,38,121,0.5),
  -5em -5em 0em rgba(70,38,121,0.5),
  -6em -6em 0em rgba(70,38,121,0.5),
  -7em -7em 0em rgba(70,38,121,0.5),
  -8em -8em 0em rgba(70,38,121,0.5),
  -9em -9em 0em rgba(70,38,121,0.5),
  -10em -10em 0em rgba(70,38,121,0.5),
  -11em -11em 0em rgba(70,38,121,0.5),
  -12em -12em 0em rgba(70,38,121,0.5),
  -13em -13em 0em rgba(70,38,121,0.5),
  -14em -14em 0em rgba(70,38,121,0.5),
  -15em -15em 0em rgba(70,38,121,0.5),
  -16em -16em 0em rgba(70,38,121,0.5),
  1em 1em 0em rgba(70,38,121,0.25),
  2em 2em 0em rgba(70,38,121,0.25),
  3em 3em 0em rgba(70,38,121,0.25),
  4em 4em 0em rgba(70,38,121,0.5),
  5em 5em 0em rgba(70,38,121,0.5),
  6em 6em 0em rgba(70,38,121,0.5),
  7em 7em 0em rgba(70,38,121,0.5),
  8em 8em 0em rgba(70,38,121,0.5),
  9em 9em 0em rgba(70,38,121,0.5),
  10em 10em 0em rgba(70,38,121,0.5),
  11em 11em 0em rgba(70,38,121,0.5),
  12em 12em 0em rgba(70,38,121,0.5),
  13em 13em 0em rgba(70,38,121,0.5),
  14em 14em 0em rgba(70,38,121,0.5),
  15em 15em 0em rgba(70,38,121,0.5),
  16em 16em 0em rgba(70,38,121,0.5),
  8em 0em 0em rgba(70,38,121,0.25),
  7em -1em 0em rgba(70,38,121,0.25),
  6em -2em 0em rgba(70,38,121,0.25),
  5em -3em 0em rgba(70,38,121,0.25),
  4em -4em 0em rgba(70,38,121,0.5),
  3em -5em 0em rgba(70,38,121,0.5),
  2em -6em 0em rgba(70,38,121,0.5),
  1em -7em 0em rgba(70,38,121,0.5),
  0em -8em 0em rgba(70,38,121,0.5),
-1em -9em 0em rgba(70,38,121,0.5),
-2em -10em 0em rgba(70,38,121,0.5),
-3em -11em 0em rgba(70,38,121,0.5),
-4em -12em 0em rgba(70,38,121,0.5),
-5em -13em 0em rgba(70,38,121,0.5),
-6em -14em 0em rgba(70,38,121,0.5),
-7em -15em 0em rgba(70,38,121,0.5),
-8em -16em 0em rgba(70,38,121,0.5),
-9em -17em 0em rgba(70,38,121,0.5),
-10em -18em 0em rgba(70,38,121,0.5),
-11em -19em 0em rgba(70,38,121,0.5),
16em 0em 0em rgba(70,38,121,0.5),
15em -1em 0em rgba(70,38,121,0.5),
14em -2em 0em rgba(70,38,121,0.5),
13em -3em 0em rgba(70,38,121,0.5),
12em -4em 0em rgba(70,38,121,0.5),
11em -5em 0em rgba(70,38,121,0.5),
10em -6em 0em rgba(70,38,121,0.5),
9em -7em 0em rgba(70,38,121,0.5),
8em -8em 0em rgba(70,38,121,0.5),
7em -9em 0em rgba(70,38,121,0.5),
6em -10em 0em rgba(70,38,121,0.5),
5em -11em 0em rgba(70,38,121,0.5),
4em -12em 0em rgba(70,38,121,0.5),
3em -13em 0em rgba(70,38,121,0.5),
2em -14em 0em rgba(70,38,121,0.5),
1em -15em 0em rgba(70,38,121,0.5),
0em -16em 0em rgba(70,38,121,0.5),
-1em -17em 0em rgba(70,38,121,0.5),
-2em -18em 0em rgba(70,38,121,0.5),
-3em -19em 0em rgba(70,38,121,0.5),
9em 1em 0em rgba(70,38,121,0.25),
10em 2em 0em rgba(70,38,121,0.25),
11em 3em 0em rgba(70,38,121,0.25),
12em 4em 0em rgba(70,38,121,0.5),
13em 5em 0em rgba(70,38,121,0.5),
14em 6em 0em rgba(70,38,121,0.5),
15em 7em 0em rgba(70,38,121,0.5),
16em 8em 0em rgba(70,38,121,0.5),
17em 9em 0em rgba(70,38,121,0.5),
18em 10em 0em rgba(70,38,121,0.5),
19em 11em 0em rgba(70,38,121,0.5),
20em 12em 0em rgba(70,38,121,0.5),
21em 13em 0em rgba(70,38,121,0.5),
22em 14em 0em rgba(70,38,121,0.5),
23em 15em 0em rgba(70,38,121,0.5),
17em 1em 0em rgba(70,38,121,0.5),
18em 2em 0em rgba(70,38,121,0.5),
19em 3em 0em rgba(70,38,121,0.5),
20em 4em 0em rgba(70,38,121,0.5),
21em 5em 0em rgba(70,38,121,0.5),
22em 6em 0em rgba(70,38,121,0.5),
23em 7em 0em rgba(70,38,121,0.5),
-8em 0em 0em rgba(70,38,121,0.25),
-7em 1em 0em rgba(70,38,121,0.25),
-6em 2em 0em rgba(70,38,121,0.25),
-5em 3em 0em rgba(70,38,121,0.25),
-4em 4em 0em rgba(70,38,121,0.5),
-3em 5em 0em rgba(70,38,121,0.5),
-2em 6em 0em rgba(70,38,121,0.5),
-1em 7em 0em rgba(70,38,121,0.5),
0em 8em 0em rgba(70,38,121,0.5),
1em 9em 0em rgba(70,38,121,0.5),
2em 10em 0em rgba(70,38,121,0.5),
  3em 11em 0em rgba(70,38,121,0.5),
  4em 12em 0em rgba(70,38,121,0.5),
  5em 13em 0em rgba(70,38,121,0.5),
  6em 14em 0em rgba(70,38,121,0.5),
  7em 15em 0em rgba(70,38,121,0.5),
  8em 16em 0em rgba(70,38,121,0.5),
  9em 17em 0em rgba(70,38,121,0.5),
  10em 18em 0em rgba(70,38,121,0.5),
  11em 19em 0em rgba(70,38,121,0.5),
  -16em 0em 0em rgba(70,38,121,0.5),
  -15em 1em 0em rgba(70,38,121,0.5),
  -14em 2em 0em rgba(70,38,121,0.5),
  -13em 3em 0em rgba(70,38,121,0.5),
  -12em 4em 0em rgba(70,38,121,0.5),
  -11em 5em 0em rgba(70,38,121,0.5),
  -10em 6em 0em rgba(70,38,121,0.5),
  -9em 7em 0em rgba(70,38,121,0.5),
  -8em 8em 0em rgba(70,38,121,0.5),
  -7em 9em 0em rgba(70,38,121,0.5),
  -6em 10em 0em rgba(70,38,121,0.5),
  -5em 11em 0em rgba(70,38,121,0.5),
  -4em 12em 0em rgba(70,38,121,0.5),
  -3em 13em 0em rgba(70,38,121,0.5),
  -2em 14em 0em rgba(70,38,121,0.5),
  -1em 15em 0em rgba(70,38,121,0.5),
  0em 16em 0em rgba(70,38,121,0.5),
  -9em -1em 0em rgba(70,38,121,0.25),
  -10em -2em 0em rgba(70,38,121,0.25),
  -11em -3em 0em rgba(70,38,121,0.25),
  -12em -4em 0em rgba(70,38,121,0.5),
  -13em -5em 0em rgba(70,38,121,0.5),
  -14em -6em 0em rgba(70,38,121,0.5),
  -15em -7em 0em rgba(70,38,121,0.5),
  -16em -8em 0em rgba(70,38,121,0.5),
  -17em -9em 0em rgba(70,38,121,0.5),
  -18em -10em 0em rgba(70,38,121,0.5),
  -19em -11em 0em rgba(70,38,121,0.5),
  -20em -12em 0em rgba(70,38,121,0.5),
  -21em -13em 0em rgba(70,38,121,0.5),
  -22em -14em 0em rgba(70,38,121,0.5),
  -23em -15em 0em rgba(70,38,121,0.5),
  -24em -16em 0em rgba(70,38,121,0.5),
  -17em -1em 0em rgba(70,38,121,0.5),
  -18em -2em 0em rgba(70,38,121,0.5),
  -19em -3em 0em rgba(70,38,121,0.5),
  -20em -4em 0em rgba(70,38,121,0.5),
  -21em -5em 0em rgba(70,38,121,0.5),
  -22em -6em 0em rgba(70,38,121,0.5),
  -23em -7em 0em rgba(70,38,121,0.5),
  -24em -8em 0em rgba(70,38,121,0.5)
  ;
  transition:text-shadow 1s, color 3s;
}

#emotion17:hover
{
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
  position: relative;
    display: inline-block;
    text-decoration: none;
    &:before,
    &:after {
        content:attr(data-content);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &:before {
        color: #00ffff;
        z-index: -1;
        animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
        color: #ff00ff;
        z-index: -2;
        animation: glitchy 0.3s ease infinite reverse;
    }
}
#emotion18:hover
{ 
  color: white;
  text-shadow: 0 0 10px rgb(134, 116, 86);
}
#emotion19
{
  position: absolute;
  left: 0%;
  bottom: -110%;
}
#emotion19:hover
{
    
    animation: shake 0.8s linear 5;
    color: white;
    text-shadow: 0 0 10px rgb(134, 116, 86);
}


#gotodiarylist
{
  position: fixed;
  right: 0%;
  height: 100%;
  width: 7%;
  z-index: 2;
}

#gotodiarylist:hover
{
  background-color: gray;
  opacity: 0.1;
}

button {
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline:0;
  opacity: 1;
}

svg {
  padding: 5px;
  opacity: 1;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 40%;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  opacity: 1;
  height: 90px;
}

.left {
  left: 42%;
}

.right {
  left: 58%;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}  


#sickband
{
  opacity: 0;
  z-index: -1;
}
  .container > * {
    position: absolute;
    rotate: 45deg;
  }

  
  .band {
    margin-left: -4.5rem;
    border-radius: 30px;
    height: 8rem;
    width: 25rem;
    background-color: #E5C09E;
    background: radial-gradient(#E6D5AB 15%, transparent 16%), radial-gradient(#E6D5AB 15%, transparent 16%);
    background-size: 10px 10px;
    background-position: 0 0, 30px 30px; }
    .band:before, .band:after {
      position: absolute;
      content: ''; }
    .band:before {
      z-index: 0;
      border-radius: 30px;
      height: 8rem;
      width: 25rem;
      background-color: #E5C09E;
      box-shadow: 3px 3px 20px #A78C73; }
    .band:after {
      border-radius: 20px;
      height: 5.5rem;
      width: 12rem;
      background: #fcf1da;
      margin-left: 7rem;
      margin-top: 1.3rem; }
  
  .eye {
    z-index: 3;
    position: absolute;
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    background-color: #695848;
    margin-left: 10rem;
    margin-top: 2.5rem; }
    .eye:before {
      position: absolute;
      content: '';
      height: 1rem;
      width: 1rem;
      border-radius: 100%;
      background-color: #695848;
      transform: translateX(5rem); }
  
  .mouth {
    z-index: 3;
    position: absolute;
    height: .7rem;
    width: 4rem;
    background-color: #695848;
    border-radius: 100%;
    margin-left: 11rem;
    margin-top: 4rem; }
    .mouth:before, .mouth:after {
      content: '';
      position: absolute;
      border-top: 15px solid #FDF9F3;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      margin-left: .8rem; }
    .mouth:before {
      margin-left: 2.5rem; }
  
  .drip {
    z-index: 3;
    position: absolute;
    width: 7px;
    height: 12px;
    background: #C33149;
    border-radius: 0 0 100% 100%;
    margin-left: 11.5rem;
    margin-top: 4.49rem; }
  
  .blood {
    z-index: -1;
    position: absolute;
    height: 2rem;
    width: 10rem;
    background-color: #C33149;
    margin-top: 7rem;
    margin-left: 8rem;
    border-radius: 0 0 100px 100px; }
    .blood:before, .blood:after {
      height: 5rem;
      width: 2rem;
      position: absolute;
      content: '';
      background: #C33149;
      border-radius: 0 0 100% 100%;
      animation: 4s drip infinite ease; }
    .blood:before {
      margin-left: 3rem;
      margin-top: -1rem; }
  
  .shine {
    z-index: 2;
    position: absolute;
    background: #FFF;
    height: 2rem;
    width: .3rem;
    border-radius: 12px;
    animation: 4s drip infinite ease;
    margin-top: 2rem;
    margin-left: .3rem; }
    .shine:before {
      content: '';
      position: absolute;
      background: #FFF;
      height: .6rem;
      width: .3rem;
      margin-left: 3.2rem;
      border-radius: 12px; }
  
  @keyframes drip {
    100% {
      transform: translateY(10px); } }
  
  /*# sourceMappingURL=style.css.map */

  .button_container {
    position: fixed;
    right: 5%;
    top: 90%;
    transform: scale(0.8);
    z-index: 999;
  }
  
  .description, .link {
    font-family: 'Amatic SC', cursive;
    text-align: center;
  }
  
  .description {
    font-size: 35px;
  }
  
  .btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%);
    ;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .btn span {
    position: relative; 
    z-index: 1;
  }
  
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #513802;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
  
  .link {
    font-size: 20px;
    margin-top: 30px;
  }
  
  .link a {
    color: #000;
    font-size: 25px; 
  }